ul {
    list-style-type: none;
    
}

.navbar {
    height: 695px;
    width: 280px;
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: black;
    
    bottom: 30px;
    border-radius: 30px;
  }

  .help {
    position: absolute;
left: 7.43%;
right: 5.43%;
top: 84.92%;
bottom: 10.28%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;
  }

  .board {
    position: absolute;
left: 17.86%;
right: 38.21%;
top: 6.36%;
bottom: 88.98%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;



color: #FFFFFF;
  }

  .menu {
    position: absolute;
left: 5.43%;
right: 5.43%;
top: 17.37%;
bottom: 80.3%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;





color: #FFFFFF;
  }

  li {
    padding-bottom: 40px;
  }