@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


  .container .box{
    width: 100%;
    height: 100%;
    display: table;
    flex-direction: row; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }

  .container .box .box-row {
    display: table-row;
  }

  .container .box .left{
    display: table-cell;
    position: absolute;
    width: 560px;
    height: 1000px;
    left: 0px;
    top: 0px;
    background: #000000;
  }
  
  .container .box .right {
   display: table-cell;
   position: absolute;
   width: 1000px;
   height: 1000px;
   left: 530px;
   top: 0px;
   justify-content: center;
   align-items: center;
   background: #F5F5F5;
  }

  .title {
    position: absolute;
    width: 131px;
    height: 44px;
    left: 333px;
    top: 250px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 750;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }

  .btn-left {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 333px;
    top: 325px;
  }

  .btn-right{
    position: absolute;
    width: 200px;
    height: 35px;
    left: 490px;
    top: 325px;
  }

  .acc {
    position: absolute;
    width: 161px;
    height: 19px;
    left: 333px;
    top: 290px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }

  .form {
    position: absolute;
    width: 385px;
    height: 270px;
    top: 370px;
    left: 333px;
    background: #FFFFFF;
    border-radius: 20px;
  }

  .boards {
    position: absolute;
    width: 246px;
    height: 88px;
    left: 160px;
    top: 400px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
  }

  .form .card{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-left: 28px;
    
    
  }

  

  input {
    
    background: #F5F5F5;
    border-radius: 10px;
    height: 25px;
    margin-top: 5px;
    border-color: transparent;
    width: 325px;
    align-self: center;
    margin-bottom: 15px;
  }

  .btns button {
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    padding-left: 3px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #858585;
    border-color: transparent;
  }

  .card button {
    background: #000000;
    border-radius: 10px;
    width: 325px;
    height: 35px;
    align-self: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .card .dont {
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    
  }

  .card .forgot{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #346BD5;
    margin-left: 28px;
    padding: 7px;
    padding-bottom: 10px;
    text-decoration: none;
  }

   Link {
    color: #346BD5;
    
    
  }

  